/* Responsividade: Ajustando layout para telas pequenas */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 100%;
    }
}



@media (max-width: 900px){

    .tip-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:600px){

    .tip-grid{
        grid-template-columns:1fr;
    }

}